<a href="https://colab.research.google.com/github/mummy11/jntua/blob/master/Day10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

*   While loop
*   For loop

In [1]:
# print numbers from 1 to 10
# input 10
# output 1,2,3,4,5,6,...10
n=int(input("enter a number"))
i=1
while i<=n:
  print(i)
  i=i+1

enter a number10
1
2
3
4
5
6
7
8
9
10

In [13]:
# print sum of even numbers 
n=int(input("enter a number"))
sum=0
i=1
while i<=n:
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum)

enter a number5
6

# palindrome

In [18]:
# palindrome
n=int(input("enter a number"))
temp=n
rev=0
while n>0:
  dig=n%10
  rev=rev*10+dig
  n=n//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

enter a number12321
palindrome

# Functional programming


*   Simple
*   easy to understand
*   better reuseability
*   lengthy program will be divided into sub programs

In [19]:
# sum of even number
# input 1234
# output(2+4)=6
def sumofevendigits(n):
  s=0
  while n!=0:
    r=n%10
    if r%2==0:
      s=s+r
    n=n//10
  return s
sumofevendigits(1234)

6

# print the largest digit from a group of numbers

In [24]:
# largest number
def large(n):
  lar=0
  while n!=0:
    r=n%10
    if lar<r:
      lar=r
    n=n//10
  return lar
large(12343)

4

# for loop 
# syntax:
# for in range(start,stop,step)
#     statements

In [0]:
# syntax:
for in range(start,stop,step):
    statements

In [32]:
# print the numbers in between limits
# input : 11 25
#output :11,12,13,....24,25
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return
printseries(500,520)

500 504 508 512 516 520

In [37]:
def prints(n):
  for i in range(1,n+1,2):
    i=i+1
    #print(i)
  print(i)
  return
prints(10)

10

# COLLECTION TYPES


*   LIST
*   TUPLE
*   DICTONARY


# List


*  one of the data structure in python

*   data structure means to store ,sort and search options
*   its one common data structure in python,the items of list separated by comma and enclosed by square brackets.


1.   List was immutable(i.e,values can change)
*   ex:
*   list=[1,2,3,4]
*   list=["jntua","dasd"]

In [49]:
li=[1,2,3,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[1:4])
print(li[:-1])
print(li[::2])

[1, 2, 3, 4]
3
2
[3, 4]
[2, 3, 4]
[1, 2, 3]
[1, 3]

In [51]:
# update list
li=["jntua",8,"antpr",5,4]
print(li)
li[1]="123"
print(li)
del li[3]
print(li)

['jntua', 8, 'antpr', 5, 4]
['jntua', '123', 'antpr', 5, 4]
['jntua', '123', 'antpr', 4]

In [56]:
# basic list operations
li=[1,2,3,4,5,6]
print(len(li))
print(li*3)
# to check weather number present in list or not
print(4 in li)

6
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
True

# List Funtions
*  max
*  min
*  sum
*   append
*   insert
*   count
*   index
*   sort
*   pop

In [64]:
list1=[1,2,3,4,5,67]
print(max(list1))
print(min(list1))
#print(sum(list1))

67
1

In [70]:
li=[1,2,4,5,6,7,4,5,4,45,6,4]
li.append(24)
li.insert(2,12)
print(li.count(4))
print(li.index(7))
print(li)
li.sort()
print(li)
li.pop()
print(li)
li.pop(4)
print(li)

4
6
[1, 2, 12, 4, 5, 6, 7, 4, 5, 4, 45, 6, 4, 24]
[1, 2, 4, 4, 4, 4, 5, 5, 6, 6, 7, 12, 24, 45]
[1, 2, 4, 4, 4, 4, 5, 5, 6, 6, 7, 12, 24]
[1, 2, 4, 4, 4, 5, 5, 6, 6, 7, 12, 24]

In [84]:
# by using function return large number from the list
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
# to print small number
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n]
li=[1,2,33,44,21,34]
print(largenumber(li))
print(li)
print(genericlarge(li,3))
print(li)
print(smallnumber(li))
print(li)
print(genericsmall(li,2))
print(li)

44
[1, 2, 21, 33, 34, 44]
33
[1, 2, 21, 33, 34, 44]
1
[1, 2, 21, 33, 34, 44]
21
[1, 2, 21, 33, 34, 44]