<a href="https://colab.research.google.com/github/mummy11/jntua/blob/master/day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown

**points**

*padma*

 ***padmapriya***

In [2]:
print('hello')

hello

***Adding links to Markdown***
[site](https://www.jntua.ac.in/)

***inserting image***
![jntua](https://www.jntua.ac.in/wp-content/uploads/2018/04/slider01.jpg)

In [6]:
print("hello world!")
print("hello,jntua")
print("hello, jntua","|||","computer","|||","cse","|||","mca")

hello world!
hello,jntua
hello, jntua ||| computer ||| cse ||| mca

*ASSIGGNMENT*

In [13]:
n1=100 #single variable assignment
n1
print(n1)
a=b=c=10 #multi variable assignment of same variable

print(a,b,c)
a1,b1,c1=100,200,300 # multiple values assignment
print(a1,b1,c1)

100
10 10 10
100 200 300

 # DataTypes and conversions

*   int
*   float
*   string

In [14]:
a=100
s=10.2
str="python"
print(type(a),type(s),type(str))

<class 'int'> <class 'float'> <class 'str'>

In [25]:
i=10
print(type(i))
s1=str(i)
print(type(s1)
f2=float(i)
print(type(f2))

SyntaxError: ignored

# reading input from user--input function

In [23]:
a=input("enter your name")
print(a)
print(type(a))

enter your namepadma
padma
<class 'str'>

In [31]:
b=int(input("enter the age"))
print(b)
print(type(b))

enter the age20
20
<class 'int'>

# Operators


*   operators is a symbol

# Arithmetic operators

*   +
*   -
*   *
*   /
*   %
*   //-floor
*   ** -power

In [34]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# relational operators

*  >,<,=,>=,<=,==,!=

In [35]:
x=10
a1=x>15
print(a1)

False

# Logical Operators

*   and 
*    or
*    not

In [40]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) and (i<80)
print(a1)
print(a2)
i=not 100
print(i)

True
False
False

# control flow statements

*   conditonal stmts
*    looping stmts

# if else stmt
syntax

 if boolean_condition

 statements

 else
 
 statements

In [43]:
n=int(input("enter a number"))
if n%2==0:
  print(n,"number is even")
else:
  print(n,"number is odd")

enter a number24
24 number is even

In [45]:
# to check the perfectly multiples of 3 and 5
n=int(input("enter a number"))
if(n%3==0) and (n%5==0):
  print("yes")
else:
  print("no")

enter a number15
yes

In [49]:
# given number is positive or negitive or zero
n=int(input("enter a number"))
if n>0:
  print("positive")
elif n<0:
  print("negative")
else:
  print("zero")

enter a number-3
negative

In [47]:
# largest of three numbers
n1=int(input("enter a number"))
n2=int(input("enter a number"))
n3=int(input("enter a number"))
if  n1>n2 and n1>n3:
  print(n1)
elif n2>n3:
  print(n2)
else:
  print(n3)

enter a number23
enter a number43
enter a number12
43

In [58]:
# find a leap year
n=int(input("enter an year"))
if n%4==0:
  print("leap year")
elif n%100==0:
  print(" not leap year")
elif n%400==0:
  print("leap year")
else:
  print("not leap year")

enter an year1900
leap year